<% provide(:title, "アニバポストについて") %>
<!|DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AnniversaryPost </title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <center>
      <h2>このアプリは、お子様の大切な1日をより特別な1日にしてくれる</h2>
      <h3>またはあなた自身の365日を特別な1日にしてくれる</h3>
      <h4>写真保管・整理・共有サービスです</h4>
    </center>
  </body>
</html>