<% provide(:title, "HOME") %>

<!|DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AnniversaryPost </title>
  </head>
  <body>
    <h1><%= yield(:title) %></h1>
    <center>
      <h1>アニバポストへようこそ</h1>
      <h2>何気ない1日を大切な1日にしませんか？</h2>
    </center>
  </body>
</html>