<% child_post = ChildPost.find(favorite.child_post_id) %>
<% user = child_post.user %>
<% child_anniversary = child_post.child_anniversary %>
  <div class="container">
    <div class="row multi-columns-row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <%= link_to child_anniversary.name, child_anniversary_child_post_path(child_anniversary, child_post), class: 'child_post-picture' %>
          <div class="gallery-item">
            <div class="gallery-image">
              <%= link_to image_tag(child_post.image_as_thumbnail || 'default_image.png'), child_anniversary_child_post_path(child_anniversary, child_post) %>
            </div>
          </div>
      </div>
    </div>
  </div>