<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>お気に入り (<%= @favorites.count %>)</h3>
    </div>
  </div>
  <% if @favorites.present? %>
    <div class="row">
      <% @favorites.each do |favorite| %>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <%= render favorite %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
