<%= link_to "/favorites/#{child_post.id}/destroy",
            method: :delete,
            class: 'unlike',
            remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i> </div>
<% end %>