// ミックスイン
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// 全ページ共通
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

// テキストの見栄え
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777 ;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// ヘッダー
.navbar ul{
  margin-top: 12px;
  margin-bottom: 12px;
}
 #logo  {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 150px;
  }
}

// フッター
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea ;
  color: #777 ;
  small {
    float: center;
  }
}

/// プロフィールページ ////
.title-profile {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea ;
}

.user-picture img {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.user-picture-box {
  margin-top: 0.5em;
  margin-left: 1em;
}

.show-user-name {
  display: inline-block;
}

.account-edit {
  margin-top: 20px;
}

//// ユーザー一覧ページ ////
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
 }

 .login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* または min-height を使用して、コンテナの高さを設定 */
}

/* こども記念日 */
.child_posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8 ;
 }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

//// 記念日登録ページ ////
.input-need {
  color: red;
  font-size: 13px;
}

.input-unneed {
  font-size: 13px;
}

//// 記念日一覧ページ ////
.inline-form {
  display: inline; /* Makes the form inline */
}

.content, .btn-link, .btn-danger {
  margin-right: 5px; /* Adds some space between the elements */
}

//// 記念日個別ページ ////
.child_anniversary-name {
  display: inline-block;
}

h2.child_anniversary-name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

// フォロー、フォロワー数表示部
.stats {
  margin: 5px 0;
}

// お気に入り
.like-btn-unlike {
  color: red;
}
.like-btn-like {
  color: grey;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8 ;
  }
}